.navigation{

    position: relative;

    &__checkbox{
        display: none;
    }

    &__button{
        background-color: white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 2000;
        border: none;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;

        box-shadow: 0 1.5rem 4rem rgba(black, .3);
    }

    &__background{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light , $color-primary-dark);
        z-index: 1000;
        transition: transform .8s;

        //transform: scale(80);
    }

    &__nav{
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s;
    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        list-style: none;
        text-align: center;
    }

    &__item{
        margin: 1rem;
    }

    &__link{
        transition: all .2s;

        &:link,
        &:visited{
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
        }

        &:hover{
            background-color: $color-grey-light-1;
            color: $color-primary;
            padding: 1rem;
            border-radius: 2px;
        }

        span{
            margin-right: 1rem;
        }
    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after{
            height: 2px;
            width: 3rem;
            display: inline-block;
            background-color: $color-dark-grey-2;
        }

        &::before,
        &::after{
            content: "";
            position:absolute;
            transition: all .2s;
        }
        &::before{top: -.8rem; left: 0}
        &::after{top: .8rem; left: 0;}
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }

    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-45deg);
    }
}