.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(black,0.15);
    padding: 6rem;
    padding-left: 9rem;
    border-radius: 3px;
    font-size: $default-font-size;
    transform: skew(-15deg);
    position: relative;
    background-color: rgba(white, .6);

    @include respond(tab-port){
        transform: skew(0);
        width: 100%;
        padding: 5rem;
    }

    &__shape{
        height: 15rem;
        width:15rem;
        float:left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skew(15deg);

        @include respond(tab-port){
            transform: translateX(-3rem) skew(0);
            height: 10rem;
            width: 10rem;
        }
    }

    &__img{
        height: 100%;
        transform: translate(-4rem);
        transition: all .5s;
    }

    &__text{
        transform: skew(15deg);

        @include respond(tab-port){
            transform: skew(0);
        }
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,20%);
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        color: white;
        font-weight: 400;
        
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img{
        filter: blur(3px) brightness(80%);
    }
}